/provingGround/
C:\\nppdf32Log\\debuglog.txt

extras/

tmp/

tmpBin/

.tmpBin/

bin/

doc/*.log

doc/*.aux

doc/*.synctex

doc/*.synctex.gz

RUNNING_PID

*~

*.jar

.cache*

.classpath

.settings/*

.worksheet/

*.log

*.class

.jvm/

target/

.target/

lib/*.jar

.idea/

*.iml

*.orig

index/

activator*

.classpath

.project

.settings

index.html

package.html

index.js

scratch/

src/main/scala/provingground

src/main/scala/package.htm

src/main/scala/index.html

src/main/scala/index.js

build/

web/packages

packages/

test/packages

fontconfig/

project/.sbtserver

project/.sbtserver.lock

project/play-fork-run.sbt

project/sbt-ui.sbt

# Vim swap files
.*swp

.ensime
.ensime_cache/

*.acrun
*.acstate
*.acthms

wiki/
gh-pages/
