provingGround/

target/

lib/

index/

index.html

package.html 

index.js


src/main/scala/provingGround

src/main/scala/package.htm

src/main/scala/index.html

src/main/scala/index.js

doc/*.log

doc/*.aux

doc/*.synctex

doc/*.synctex.gz

src/main/scala/proving*

*~
