label{
    display: inline-block;
    float: left;
    clear: left;
    width: 400px;
    text-align: left;
}
input {
  display: inline-block;

}

input[type="number"] {
   width:30px;
}

.entropies {
  height: 200px;
  overflow-y: auto;
}

.entropies ul {
  list-style-type: none;
}


.element {
  color: blue;
}

.index {
    color: black;
    display: inline-block;
    width: 50px;
}

.element {
    color: red;
    display: inline-block;
    width: 400px;
}

.probability{
  color: green;
  display: inline-block;
  width: 250px;
  }

.entropy{
  color: blue;
    display: inline-block;
    width: 250px;
  }


.finite-distribution{
  border: 1px solid black;
  width:  1200px;
  height: 200px;
  overflow-y: auto;
}

.private {
    display: none;
}
