.editor {
          height: 200px;
          font-size: 14px;
        }
.view {
  overflow-y: auto;
  height: 300px;
  border-style: dotted;
  border-width: 1px;
}

.mini-view {
  overflow-y: auto;
  height: 100px;
  border-style: dotted;
  border-width: 1px;
}

td, th {
  background-color: #fff !important;
  padding: 2px  !important;
}

.link {
  color: #3498db;
}

.link:hover,
.link:focus {
  color: #3498db;
  text-decoration: underline;
}

.danglink {
  color: red;
}

.danglink:hover,
.danglink:focus {
  color: red;
  text-decoration: underline;
}
