.editor {
          height: 150px;
          font-size: 14px;
        }
.view {
  overflow-y: auto;
  height: 200px;
  border-style: dotted;
  border-width: 1px;
}
pre {
  background-color: black;
  color: green;
  font-weight: bold;
}
