<component name="libraryTable">
    <library name="logback-core-1.2.3.jar">
        <CLASSES>
            <root url="jar:///home/gadgil/.coursier/cache/v1/https/repo1.maven.org/maven2/ch/qos/logback/logback-core/1.2.3/logback-core-1.2.3.jar!/"/>
        </CLASSES>
        <SOURCES>
            <root url="jar:///home/gadgil/.coursier/cache/v1/https/repo1.maven.org/maven2/ch/qos/logback/logback-core/1.2.3/logback-core-1.2.3-sources.jar!/"/>
        </SOURCES>
    </library>
</component>