@()
<div class="dynamics-queries">
<ul>
  <li><input name="cutoff" type="number">logarithm of cut-off</input></li>
  <li><input name="stable-level" type="number">logarithm of stable level, changes below this </input></li>
  <li><input name="epsilon" type="number">logarithm of epsilon (scaling for the flow)</input></li>
  <li><input name="inner-steps" type="number">steps in the inner loop (not re-computing chains)</input></li>
  <li><input name="outer-steps" type="number">steps in the outer loop</input></li>
</ul>
</div>
