<!DOCTYPE html>

<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>ProvingGround</title>
    <link rel="stylesheet" href="provingground.css">
    <!-- mathjax config similar to math.stackexchange
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  jax: ["input/TeX", "output/HTML-CSS"],
  tex2jax: {
    inlineMath: [ ['$', '$'] ],
    displayMath: [ ['$$', '$$']],
    processEscapes: true,
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
  },
  messageStyle: "none",
  "HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] }
});
</script>
<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML" type="text/javascript"></script>
 -->
  </head>
  <body>
    <h1>ProvingGround</h1>
    
    <p>Hello world from Dart!</p>
    <div bouncer>
    <form action="../../bounce" method="POST">
    <input type="text" name="value" ng-model="bnc.value">
    <input type="number" name="mult" ng-model="bnc.mult">
    <button type="button" ng-click="bnc.push()">Bounce</button>
    <input type="submit" value="Bounce">
    </form>
    <span ng-repeat="b in bnc.bounces">{{b}}</span>
    <div>{{bnc.mult}}</div>
        <div>
    Logs:<UL>
    <li ng-repeat="l in bnc.logs">{{l}}
    </UL>
    Raw: {{bnc.logs}}
    </div>
    
    </div>

    
    <div id="sample_container_id">
      <p id="sample_text_id">Click me!</p>
    </div>
    
    Output:<h3 id="texthis">{{equation}}</h3>
  Equation: <input type="text" ng-model="equation">

    <script src="packages/shadow_dom/shadow_dom.min.js"></script>
    <script type="application/dart" src="provingground.dart"></script>
    <script src="packages/browser/dart.js"></script>
    <script src="packages/browser/interop.js"></script>
  </body>
</html>
